    <hr>
    <footer>
    <p> &#169; Volha Padlipskaya <%= new Date().getFullYear() %></p>
    </footer>
    </div>
  <div class="page-image">
    <img src="/images/kenworth1.jpg" alt="Truck" />
  </div>
</div>
</body>
</html>