<h1>Truck Profit Tracker</h1>

<% if (user) { %>
  <p>Welcome, <strong><%= user.name %></strong></p>
  <form method="POST" action="/sessions/logoff">
    <button>Logoff</button>
  </form>
<% } %>

<% if (typeof errors !== "undefined" && errors.length > 0) { %>
  <% errors.forEach((err) => { %>
    <div style="color: red;">Error: <%= err %></div>
  <% }) %>
<% } %>

<% if (typeof info !== "undefined" && info.length > 0) { %>
  <% info.forEach((msg) => { %>
    <div style="color: green;">Info: <%= msg %></div>
  <% }) %>
<% } %>

<hr>