<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<% if (user) { %>
  <p><a href="/weeks">Go to Weeks</a></p>
<% } else { %>
  <p><a href="/sessions/logon">Click this link to logon.</a></p>
  <p><a href="/sessions/register">Click this link to register.</a></p>
<% } %>

<%- include("partials/footer.ejs") %>