<%- include("partials/header") %>

<h1>Truck Profit Tracker</h1>

<% if (user) { %>
  <p>Logged in as <b><%= user.name %></b></p>
  <form method="POST" action="/sessions/logoff">
    <button>Logoff</button>
  </form>
  <p><a href="/weeks">Go to Weeks</a></p>
<% } else { %>
  <p><a href="/sessions/register">Register</a> | <a href="/sessions/logon">Logon</a></p>
<% } %>

<%- include("partials/footer") %>